doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Recipe Sharing Platform
    link(rel="stylesheet", href="/css/share.css")
  body
    block content
      .container.share-container
        h1 Edit Recipe
        form(action=`/recipes/update/${recipe.id}` method="POST" enctype="multipart/form-data")
          .form-group
            label(for="title") Recipe Title:
            input(type="text" id="title" name="title" required value=recipe.title)
          .form-group
            label(for="description") Recipe Description:
            textarea(id="description" name="description" required)= recipe.description
          // Assuming you are allowing image updates. If not, adjust accordingly.
          .form-group
            label(for="image") Recipe Image:
            input(type="file" id="image" name="image" accept="image/png, image/jpeg")
          button(type="submit") Update Recipe
